/*******************************************************************************
 * Global properties */

body {
  color: #bababa;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.125em;
}

hr {
    color: #191A1A4D/* XX-WHITE #D6D6D64D */;
    background-color: transparent;
}
/*******************************************************************************
 * boxes */

.main-box {
    border-top: 5px solid #040404/* XX-WHITE #f9f9f9 */;
    border-bottom: 5px solid #1A1A1A /* XX-WHITE #D6D6D6 */;
    background-color: #040404/* XX-WHITE #f9f9f9 */;
    flex: 1;
}
/*******************************************************************************
 * home */

/*******************************************************************************
 * news */

/*******************************************************************************
 * header */

.navbar {
  background-color: #1e1f1f;
}
#navbar-toggler:checked ~ .collapse {
  display:block;
}

/*******************************************************************************
 * footer */

footer {
    background-color: #1E1F1F;
    font-size: 0.9rem;
}

/*******************************************************************************
 * content */

a {
    color: #5D8BAA/* XX-WHITE #2D5B7A */;
    text-decoration: none;
}

a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

h1 {
    color: #F1F2F2/* XX-WHITE #212222 */;
    font-size: 2.25rem;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 a {
    color: #F1F2F2/* XX-WHITE #212222 */;
}

h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 6px;
    color: #E1E2E2/* XX-WHITE #212222 */;
}
h2 a {
    color: #E1E2E2/* XX-WHITE #212222 */;
}
h2 a:hover {
    color: #8a8a8a;
}

p {
    margin-bottom: 18px;
}
.p1 {
    margin-bottom: 9px;
}
.p2 {
    margin-bottom: 18px;
}
.p3 {
    margin-bottom: 27px;
}
/*
  FIXME: Bootstrap tables broken?
*/
table, th, tr, td, tr:nth-child(2n) {
  border: 0;
  background-color: transparent;
}

.grid {
  display: grid;
  grid-auto-rows: 210px;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 192px);
  justify-content: center;
}
.grid-item {
  margin-left: auto;
  margin-right: auto;
  height: 210px;
  text-align: center;
}
.grid-item a {
  color: rgba(255,255,255,.75);
}
.thumb-image-container {
  display: table-cell;
  height: 192px;
  vertical-align: bottom;
}
.thumb-image-container img {
  max-height: 192px;
  max-width: 192px;
  width: auto;
}
